  <div class="chat-list__items">
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
    {{> chatItem }}
  </div>