<div class="chat-input">
  <button type="button" class="chat-input__action-button">
    <img src="/chat_clip.svg" alt="Chat actions" />
  </button>
   {{{fields}}}
  <button type="submit" class="chat-input__send-button">
    <img src="/back_arrow.svg" alt="Arrow Icon" />
  </button>
</div>
