@use "/src/variables.scss" as *;

.profile__avatar-section {
  display: grid;
  place-items: center;
  width: 100%;
}

.profile__avatar-wrapper {
  position: relative;
  width: 130px;
  height: 130px;
}

.profile__avatar-input {
  display: none;
}

.profile__avatar-label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: $input-background;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);

    .profile__avatar-overlay {
      opacity: 1;
    }
  }
}

.profile__avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile__avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-dark;
  display: grid;
  place-items: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
  color: $color-white;
  font-size: 14px;
  font-weight: 500;
}
