@use "/src/variables.scss" as *;

.chat-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.chat-input__action-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
}

.chat-input__wrapper {
  width: 100%;
  display: flex;
  border-radius: 10px;

  &--invalid {
    border: 1px solid $alert-color;
  }
}

.chat-input__field {
  font-size: 12px;
  border-radius: 10px;
  background: $input-background;
  padding: 10px 14px;
  border: none;
  flex-grow: 1;
}

.chat-input__send-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  transform: rotate(180deg);
}
