@use "/src/variables.scss" as *;

.profile__content-edit {
  .profile__inner-edit {
    width: 100%;
  }

  .profile__info-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
