@use "/src/variables.scss" as *;

.search-users-list {
  max-height: 100px;
  overflow-y: auto;
  background: $bg-white;

  &__item {
    padding: 12px 16px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    transition: background-color 0.2s;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $hover-bg;
    }
  }

  &__empty {
    padding: 16px;
    text-align: center;
    color: $text-secondary;
  }
}
