@use "/src/variables.scss" as *;

.button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.primary {
  color: $button-primary-color;
  background-color: $button-primary-background;
}

.secondary {
  color: $button-secondary-color;
  background-color: $button-secondary-background;
}
