.button {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.primary {
  color: var(--button-primary-color);
  background-color: var(--button-primary-background);
}

.secondary {
  color: var(--button-secondary-color);
  background-color: var(--button-secondary-background);
}
