<div class="root">
  <h1>
    Demo page
  </h1>
  <ul>
    <li>
      {{> link href="/login" className="form__link" text="Login Page"}}
    </li>
    <li>
      {{> link href="/signup" className="form__link" text="Sign Up Page"}}
    </li>
    <li>
      {{> link href="/chat" className="form__link" text="Chat Page"}}
    </li>
        <li>
      {{> link href="/not-found" className="form__link" text="Not Found Page"}}
    </li>
        <li>
      {{> link href="/error" className="form__link" text="Error Page"}}
    </li>
  </ul>
</div>