<div class="error">
  <div class="error__content">
    <h2 class="error__title">
      {{errorTitle}}
    </h2>
    <h3 class="error__description">
      {{errorDescription}}
    </h3>
    {{#> link href=errorBackLinkHref className="error__link"}}
      {{errorBackLinkText}}
    {{/link}}
  </div>
</div>