.error {
  display: grid;
  place-items: center;
}

.error__content {
  display: grid;
  place-items: center;
}

.error__title {
  font-size: 40px;
  margin: 0;
  color: var(--text-primary);
  font-weight: 400;
}

.error__description {
  font-size: 20px;
  margin: 0;
  color: var(--text-primary);
  font-weight: 400;
}

.error__link {
  margin-top: 40px;
}
