<div class="create-chat-modal">
  <div class="create-chat-modal__header">
    <h3 class="create-chat-modal__title">Создать чат</h3>
  </div>
  <div class="create-chat-modal__body">
    <p class="create-chat-modal__user-info">
      Добавить пользователя <strong>{{userName}}</strong> в чат?
    </p>
    {{{chatNameInput}}}
  </div>
  <div class="create-chat-modal__footer">
    {{{cancelButton}}}
    {{{submitButton}}}
  </div>
</div>
