@use "/src/variables.scss" as *;

.main-layout {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.main-layout__chat-link {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  background: $button-primary-background;
  color: $button-primary-color;
  border-radius: 4px;
  cursor: pointer;
}
