<div class="chat-window">
  <div class="chat-window__header">
    {{{chatHeader}}}
  </div>
  <div class="chat-window__messages">
    {{{messageList}}}
  </div>
  <div class="chat-window__input">
    {{{chatInput}}}
  </div>
</div>
