<div class="chat-window">
  <div class="chat-window__header">
    {{> chatHeader chat=chat }}
  </div>
  <div class="chat-window__messages">
    {{> messageList messages=messages }}
  </div>
  <div class="chat-window__input">
    {{> chatInput }}
  </div>
</div>
