@use "/src/variables.scss" as *;

.popup {
  position: absolute;
  display: none;
  z-index: 1000;
  background: $bg-white;
  border-radius: 8px;
  box-shadow: $shadow-sm;
  min-width: 150px;

  &--visible {
    display: block;
  }
}

.popup__content {
  padding: 12px 16px;
}
