.login_title {
  margin-bottom: 40px;
  padding: 0;
  margin-top: 0;
}

.form_fields_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 45px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.login_btn-wrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
