@use "/src/variables.scss" as *;

.profile__content--password {
  .profile__info-actions {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    align-self: auto;
    width: auto !important;
  }
}
