@import "../../variables.scss";

.search-input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid $border-color;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s ease;

  &:focus {
    border-color: $input-border;
  }

  &::placeholder {
    color: $input-secondary;
  }
}
