<div class="user-modal">
  <h2 class="user-modal__title">
    {{title}}
  </h2>
  <div class="user-modal__form">
    <div class="user-modal__list-section">
      <h3 class="user-modal__list-title">
        Пользователи чата
      </h3>
      <div class="user-modal__users-list">
        {{{chatUsersList}}}
      </div>
    </div>
    <div class="user-modal__actions">
      {{{cancelButton}}}
      {{{submitButton}}}
    </div>
  </div>
</div>