@use "/src/variables.scss" as *;

.user-modal {
  min-width: 400px;
}

.user-modal__title {
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: 500;
}

.user-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-modal__input {
  width: 100%;
}

.user-modal__list-section {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  border-radius: 4px;
  overflow: hidden;
}

.user-modal__list-title {
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(0, 0, 0, 0.05);
  border-bottom: 1px solid $border-color;
}

.user-modal__users-list {
  display: flex;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
}

.user-modal__user-item {
  border-bottom: 1px solid $border-color;
  cursor: pointer;

  &:hover {
    background: rgb(0, 0, 0, 0.05);
  }

  &:last-child {
    border-bottom: none;
  }

  &--selected {
    background-color: $button-primary-background;
  }
}

.user-modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.user-modal__button {
  min-width: 100px;
}
