.user-modal {
  min-width: 400px;
}

.user-modal__title {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.user-modal__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-modal__input {
  width: 100%;
}

.user-modal__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.user-modal__button {
  min-width: 100px;
}
