<div class="user-modal">
  <h2 class="user-modal__title">
    Изменить изображение чата
  </h2>
  <div class="user-modal__form">
    {{{chatAvatar}}}
    <div class="user-modal__buttons">
      {{{closeButton}}}
    </div>
  </div>
</div>