<div class="user-modal">
  <h2 class="user-modal__title">
    {{title}}
  </h2>
  <div class="user-modal__form">
    {{{loginInput}}}
    <div class="user-modal__users-list">
      {{{usersList}}}
    </div>
    <div class="user-modal__actions">
      {{{submitButton}}}
    </div>
  </div>
</div>
