<div class="chat-header">
  <div class="chat-header__info">
    <div class="chat-header__avatar">
      {{{avatar}}}
    </div>
    <h3 class="chat-header__title">
      {{currentChat.title}}
    </h3>
  </div>
  {{{chatSettingsButton}}}
</div>