<div class="chat-header">
  <div class="chat-header__info">
    <span class="chat-header__avatar"></span>
    <h3 class="chat-header__title">
      Вадим
    </h3>
  </div>
  <div class="chat-header__actions">
    <img src="/actions_dots.svg " alt="Chat actions" />
  </div>
</div>