@use "/src/variables.scss" as *;

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header__info {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.chat-header__avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: $input-background;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-header__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-header__title {
  font-size: 14px;
  margin: 0;
}
