<div class="modal {{#if isVisible}}modal--visible{{/if}}">
  <div class="modal__backdrop"></div>
  <div class="modal__container">
    <div class="modal__content">
      {{{content}}}
    </div>
  </div>
</div>
