<div class="profile_content">
  <div class="profile_avatar-section">
    <div class="profile_avatar-wrapper">
      <img src="/profile_default.svg" alt="Arrow Icon" />
    </div>
  </div>
  <h2 class="profile_info-name">
      {{user.first_name}} {{user.second_name}}
  </h2>
  <div class="profile_info-section">
    <ul class="profile_info-list">
      {{#each userFields}}
       <li class="profile_info-item">
          {{> profileInput}}
        </li>
      {{/each}}
  </div>
  <ul class="profile_info-actions">
 <li class="profile_info-item">
     {{#> link className="profile_info-link" }}  
     Изменить данные
    {{/link}}
 </li>
 <li class="profile_info-item">

          {{#> link className="profile_info-link" }}
    Изменить пароль
    {{/link}}
</li>
 <li class="profile_info-item">

          {{#> link className="profile_info-link profile_info-link--red" href="/login" }}
    Выйти
    {{/link}}
</li>
  </ul>
</div>