<div class="profile__content">
  <div class="profile__avatar-section">
    <div class="profile__avatar-wrapper">
      <img src="/profile_default.svg" alt="Arrow Icon" />
    </div>
  </div>
  <h2 class="profile__info-name">
      {{user.first_name}} {{user.second_name}}
  </h2>
  <div class="profile__info-section">
    <ul class="profile__info-list">
      {{#each userFields}}
       <li class="profile__info-item">
          {{> profileInput}}
        </li>
      {{/each}}
    </ul>
  </div>
  <ul class="profile__info-actions">
 <li class="profile__info-item">
     {{#> link className="profile__info-link" }}  
     Изменить данные
    {{/link}}
 </li>
 <li class="profile__info-item">

          {{#> link className="profile__info-link" }}
    Изменить пароль
    {{/link}}
</li>
 <li class="profile__info-item">

          {{#> link className="profile__info-link profile__info-link--danger" href="/login" }}
    Выйти
    {{/link}}
</li>
  </ul>
</div>
