@use "/src/variables.scss" as *;

.profile__content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__info-section {
  width: 100%;
}

.profile__info-list {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 100%;
}

.profile__info-actions {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
