@use "/src/variables.scss" as *;

.chats {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chats__chat-list-wrapper {
  width: 300px;
  border-right: 1px solid $border-color-light;
  padding: 20px;
  display: flex;
}

.chats__chat-window-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.chats__empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.chats__empty-text {
  font-size: 18px;
  color: $text-secondary;
  text-align: center;
}
