.chats {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chats__chat-list-wrapper {
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 20px;
  display: flex;
}

.chats__chat-window-wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: stretch;
}
