.chats {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.chat-list_wrapper {
  width: 300px;
  border-right: 1px solid #ccc;
  padding: 20px;
  display: flex;
}

.chat-window_wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  align-items: stretch;
}
