@use "/src/variables.scss" as *;

.input {
  border: none;
  padding: 4px 2px;
  color: $input-primary;
  border-bottom: 1px solid $input-border;
  width: 100%;
}

.input::placeholder {
  color: $input-secondary;
}
