<div class="chat-item">
  <div class="chat-item__avatar"></div>
  <div class="chat-item__content">
    <span class="chat-item__title">
      Чат название
    </span>
    <span class="chat-item__last-message">
      Последнее сообщение в чате
    </span>
  </div>
  <div class="chat-item__info">
    <span class="chat-item__time">
      12:00
    </span>
    <span class="chat-item__unread-count">
      3
    </span>
  </div>
</div>