<button class="chat-item {{#if this.isActive}}chat-item--active{{/if}}">
  <div class="chat-item__avatar"></div>
  <div class="chat-item__content">
    <span class="chat-item__title">
      {{this.title}}
    </span>
    <span class="chat-item__last-message">
      {{this.lastMessage}}
    </span>
  </div>
  <div class="chat-item__info">
    <span class="chat-item__time">
      {{this.last_message}}
    </span>
    <span class="chat-item__unread-count">
      {{this.unread_count}}
    </span>
  </div>
</button>
