<button class="chat-item {{#if this.isActive}}chat-item--active{{/if}}">
  <div class="chat-item__avatar"></div>
  <div class="chat-item__content">
    <span class="chat-item__title">
      {{this.title}}
    </span>
    <span class="chat-item__last-message">
      {{this.last_message.user.login}}
    </span>
  </div>
  <div class="chat-item__info">
    <span class="chat-item__time">
      {{formatDate this.last_message.time}}
    </span>
    {{#if (gt this.unread_count 0)}}
      <span class="chat-item__unread-count">
        {{this.unread_count}}
      </span>
    {{/if}}
  </div>
</button>
