<div class="chat-item">
  <div class="chat-item__avatar"></div>
  <div class="chat-item__content">
    <span class="chat-item__title">
  {{name}}
    </span>
    <span class="chat-item__last-message">
      {{lastMessage}}
    </span>
  </div>
  <div class="chat-item__info">
    <span class="chat-item__time">
      {{time}}
    </span>
    <span class="chat-item__unread-count">
      {{count}}
    </span>
  </div>
</div>
