@use "/src/variables.scss" as *;

.profile-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.profile-item__info-label {
  color: $text-primary;
  font-size: 14px;
}

.profile-item__info-value {
  color: $text-secondary;
  font-size: 14px;
}

.profile-item__input {
  background: none;
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  color: $text-primary;
  text-align: right;
  color: $text-secondary;
}
