:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-primary: #1e1e1e;
  --text-secondary: #999;
  --input-primary: #1e1e1e;
  --input-secondary: #999;
  --input-border: #3369f3;
  --alert-color: #ff2f2f;
  --border-color: #eaeaea;
  --input-background: #efefef;
  --button-primary-color: #fff;
  --button-primary-background: #3369f3;
  --button-secondary-color: #3369f3;
  --button-secondary-background: #fff;
}

a {
  text-decoration: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background: #fff;
  color: var(--text-primary);
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}
