@use "/src/variables.scss" as *;

* {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-light;
  background-color: $bg-dark;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background: $bg-white;
  color: $text-primary;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

#app {
  width: 100%;
  height: 100%;
}
