// Colors
$text-primary: #1e1e1e;
$text-secondary: #999;
$alert-color: #ff2f2f;
$border-color: #eaeaea;
$side-bar-background: #fbfbfb;
$link-color: #3369f3;
$hover-bg: #f5f5f5;

// Input
$input-primary: #1e1e1e;
$input-secondary: #999;
$input-border: #3369f3;
$input-background: #efefef;

// Button
$button-primary-color: #fff;
$button-primary-background: #3369f3;
$button-secondary-color: #3369f3;
$button-secondary-background: #fff;

$active-chat-background: #e4edfd;
