<div class="chat-list">
  <div class="chat-list__header">
    <a href="#" class="chat-list__add-chat-button">
      Профиль
      <img src="/arrow_right.svg" alt="Arrow Icon" />
    </a>
  </div>
  <input type="text" class="chat-list__search" placeholder="Поиск" />
  <div class="chat-list__items-wrapper">
    {{> chatListItems }}
  </div>
</div>