<div class="chat-list">
  <div class="chat-list__header">
      {{{chatListHeader}}}
  </div>
  <input type="text" class="chat-list__search" placeholder="Поиск" />
  <div class="chat-list__items-wrapper">
    {{{chatListItems}}}
  </div>
</div>
