<div class="chat-list">
  <div class="chat-list__header">
      {{#> link className="chat-list__add-chat-button" href="/login" }}
          Профиль
      <img src="/arrow_right.svg" alt="Arrow Icon" />
      {{/link}}
  </div>
  <input type="text" class="chat-list__search" placeholder="Поиск" />
  <div class="chat-list__items-wrapper">
    {{> chatListItems }}
  </div>
</div>