<div class="chat-list">
  <div class="chat-list__header">
      {{{chatListHeader}}}
  </div>
  {{{searchInput}}}
  <div class="chat-list__items-wrapper">
    {{{chatListItems}}}
  </div>
  {{{modal}}}
</div>
