@use "/src/variables.scss" as *;

.chat-list {
  width: 100%;
  display: grid;
  grid-template-rows:
    auto
    auto
    minmax(0, 1fr);
  height: 100%;
}

.chat-list__header {
  display: flex;
  margin-bottom: 20px;
}

.chat-list__add-chat-button {
  margin-left: auto;
  color: $text-secondary !important;
  font-size: 14px !important;
}

.chat-list__search {
  margin-bottom: 14px;
  color: $text-secondary;
  font-size: 12px;
  border-radius: 10px;
  background: $input-background;
  padding: 10px 14px;
  border: none;
}

.chat-list__items-wrapper {
  overflow: auto;
  min-height: 0;
}
